*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.outer{
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    width: 80%;
    margin: 0 auto;
    border-radius: 4px;
    height: 100%;
}
html,body{
    height: 100%;
}
h2{
    margin-top: 100px;
    text-align: center;
    height: 50px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 260px);
}
button{
    width: 100px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 20px
    
}
#dis{
    position: relative;
}
.like{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    outline: #46b8da;
    z-index: 520;
}
.dislike{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    outline: #eea236;
}